<div id="waveform"></div>
<div id="waveform-timeline"></div>

<div style="text-align: center">
  <p>{{currentTime}}</p>
  <button class="btn btn-primary" onclick={{action play}}>
    <i class="glyphicon glyphicon-play"></i>
    {{if playing "Stop" "Play"}}
  </button>
  {{#if region}}
    <button class="btn btn-outline btn-small" onclick={{action playAt region.start region.end }}>
      Restart
    </button>
  {{/if}}

  <p class="row">
    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </div>

    <div class="col-xs-10">
      <input id="slider" type="range" min="1" max="6" value="1" style="width: 100%" />
    </div>

    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-out"></i>
    </div>
  </p>
</div>
{{yield}}
