<div class="flex p1">
  <div class="flex-auto">
    <h2><a href={{model.podcast.link}}>{{model.title}}</a></h2>
    {{lc-player
      src=model.podzyUrl
      waveformData=model.waveform.points
      registerPlayer=(action (mut player))
      unregisterPlayer=(action (mut player null))
      timeupdate=(action timeupdate)
      regionCreated=(action regionCreated)
      regionUpdated=(action regionUpdated)
      deleteRegion=(action deleteRegion)
      region=region
      feedbackLoop=feedbackLoop
    }}
    <div class="mt1">
      {{#liquid-if reference}}
        <form class="mt2 mb2">
          <div class="flex-auto center m1 p1 border border-lime">
            <h3>New annotation</h3>
            <button class="btn" {{action save}}>Save</button>
            <p> Double click outside region to dismiss</p>
          </div>
          {{text-editor
            textChanged=(action (mut reference.deltas))
            class="text-editor-container"
          }}
        </form>
      {{/liquid-if}}
      <p>{{{model.summary}}}</p>
    </div>
  </div>
</div>
<div class="p1">
  <h3>Community Annotations</h3>
  <div class="flex flex-wrap content-start border">
    {{#each sortedReferences as |reference|}}
      {{#if reference.deltas}}
        {{#text-editor
          deltas=reference.deltas
          readOnly=true
          class="col-4 border"
        }}
          <div class="toolbar ql-snow">
            <span class="ql-formats">
              <a><i class="fa fa-play" aria-hidden="true"></i></a>
            </span>
            <span class="ql-formats">
              <a class=""
                 href="https://facebook.com">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Share on facebook
              </a>
              <a class="twitter-share-button"
                 href="https://twitter.com/intent/tweet?text=Hello%20world">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Tweet
              </a>
            </span>
          </div>
        {{/text-editor}}
      {{else}}
        <div class="col-4 border mt6 p4">
          {{#if (eq reference.kind "person")}}
            <i class="fa fa-user" aria-hidden="true"></i>
            {{#if reference.wikiLink }}
              <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
            {{/if}}
            {{ else if (eq reference.kind "book") }}
            <i class="fa fa-book" aria-hidden="true"></i>
            {{ else if reference.wikiLink }}
            <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
            {{ else if  reference.youtubeVideo}}
            <i class="fa fa-youtube" aria-hidden="true"></i>
          {{else}}
            <i class="fa fa-link" aria-hidden="true"></i>
          {{/if}}
          {{#if reference.youtubeVideo}}
            <p>{{reference.summary}}</p>
            {{#plyr-player mediaTag="div"}}
              <div data-type="youtube" data-video-id={{reference.youtubeVideo}}></div>
            {{/plyr-player}}
          {{else}}
            <a href={{reference.url}}>{{reference.summary}}</a>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
