<div class="flex">
  <div class="flex-auto">

    <div class="container bgc--t">
      <div class="pt3 pb3">
        {{lc-player
          src=model.podzyUrl
          waveformData=model.waveform.points
          registerPlayer=(action (mut player))
          unregisterPlayer=(action (mut player null))
          timeupdate=(action timeupdate)
          regionCreated=(action regionCreated)
          regionUpdated=(action regionUpdated)
          deleteRegion=(action deleteRegion)
          region=region
          feedbackLoop=feedbackLoop
          startAt=at
        }}
      </div>
    </div>

    <div class="container mt3">
      {{#liquid-if reference}}
        <form class="card-editor">
          {{text-editor
            textChanged=(action (mut reference.deltas))
            class=""
          }}
          <div class="tc mt3">
            <button class="btn link f--h dim ph4 pv2 dib white bg-mid-gray" {{action save}}>Save Annotation</button>
          </div>
        </form>
      {{/liquid-if}}
      <div class="mt3 f0">
        <div class="dib w-100 w-25-l v-mid pr4-l">
          <img class="ba b--near-white db" src="http://panoply-prod.s3.amazonaws.com/podcasts/1427a2f4-2674-11e6-a3d7-cf7ee2a2c03c/image/uploads_2F1464956596674-zye6snpaow-1199f5fc375124c66575217a8ac7dbd1_2FPodcast%2BArtwork%2B-%2BNo%2BShadow.jpeg">
        </div>
        <div class="dib w-100 w-75-l v-mid f5">
          <h1 class="mt0"><a class="link" href={{model.podcast.link}}>{{model.title}}</a></h1>
          <p class="mb0">{{{model.summary}}}</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="mcc--3">
        {{#each sortedReferences as |reference|}}
          <div class="mcard pa2-ns pb-2">
            <div class="cf bg-near-white">
              {{#if reference.deltas}}
                {{#text-editor
                   deltas=reference.deltas
                   readOnly=true
                   class="f6"
                }}
                  <div class="toolbar bb b--white pa4 pt2 pb2">
                    {{#link-to "podcasts.show.episode" model.podcast model (query-params at=reference.start)}}
                      <i class="fa fa-play" aria-hidden="true"></i>
                    {{/link-to}}
                    <div class="fr">
                      <a class="social-link f6 mr3" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i> Share
                      </a>
                      <a class="social-link f6" href="https://twitter.com/intent/tweet?text=Hello%20world">  <i class="fa fa-twitter" aria-hidden="true"></i> Tweet
                      </a>
                    </div>
                  </div>
                {{/text-editor}}
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  </div>
</div>
