<div class="flex">
  <div class="flex-auto">

    <div class="container bgc--s relative">
      <div class="pt3 pb3">
        {{lc-player
          src=model.podzyUrl
          waveformData=model.waveformDataUrl
          registerPlayer=(action (mut player))
          unregisterPlayer=(action (mut player null))
          timeupdate=(action timeupdate)
          regionCreated=(action regionCreated)
          deleteRegion=(action deleteRegion)
          region=region
          feedbackLoop=feedbackLoop
          startAt=at
        }}
      </div>
    </div>
    <div class="bgc--p container">
      {{#liquid-if annotation}}
        <form class="card-editor">
          {{text-editor
            textChanged=(action (mut annotation.deltas))
            class="bg-white w-100"
          }}
          <div class="tc mt3">
            <a class="btn link f--h ph4 pv2 dib white bg-mid-gray" onclick={{action cancel}}>Cancel</a>
            <button class="btn link f--h ph4 pv2 dib white bg-mid-gray mb3" {{action save}}>Save Annotation</button>
          </div>
        </form>
      {{/liquid-if}}
    </div>

    <div class="container mt3">
      <div class="mt3 f0">
        <div class="dib w-100 w-25-l v-top pr4-l">
          <img class="ba b--near-white db" src={{model.podcast.itunesImage}}>
        </div>
        <div class="dib w-100 w-75-l v-top f5">
          <h1 class="mt0 lh-solid-ns"><a class="link" href={{model.podcast.link}}>{{model.title}}</a></h1>
          <p class="mb0">{{{model.summary}}}</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="mboard">
        {{#each sortedAnnotations as |annotation|}}
          <div class="mboard_card pa2-ns pb2">
            <div class="cf bg-near-white">
              {{#if annotation.deltas}}
                {{#text-editor
                   deltas=annotation.deltas
                   readOnly=true
                   class="f6"
                }}
                  <div class="toolbar bb b--white pa4 pt2 pb2">
                    {{#link-to "podcasts.show.episode" model.podcast model (query-params at=annotation.start)}}
                      <i class="fa fa-play" aria-hidden="true"></i>
                    {{/link-to}}
                    <div class="fr">
                      <a class="link f6 mr3" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i> Share
                      </a>
                      <a class="link f6" href="https://twitter.com/intent/tweet?text=Hello%20world">  <i class="fa fa-twitter" aria-hidden="true"></i> Tweet
                      </a>
                    </div>
                  </div>
                {{/text-editor}}
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  </div>
</div>
