<div class="flex p1">
  <div class="flex-auto">
    <ul class="">
      <li><a href={{model.podcast.link}}>{{model.title}}</a></li>
      <li>
        <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/0U1x3p2K2f3L1w1Y2w0N/Image%202016-08-02%20at%201.21.46%20AM.png?v=aff6d93f" style="width=200px">
      </li>
      <li>{{model.summary}}</li>
    </ul>
  </div>
</div>
<div class="p1">
  <h3>Notes</h3>
  <ul class="row">
    {{#each model.references as |reference|}}
      <li>
        {{reference.kind}}: <a href={{reference.url}}>{{reference.summary}}</a>
      </li>
    {{/each}}
  </ul>
</div>
