{{!-- {{podcast-episode model=model at=at transitionTo=(action (mut at)) requireUser=(action requireUser)}}  --}}

<div class="flex">
  <div class="flex-auto">

    <div class="container bgc--s relative">
      <div class="pt3 pb3">
        {{#unless fastboot.isFastBoot}}
          {{lc-player
            src=model.podzyUrl
            waveformData=model.waveformDataUrl
            registerPlayer=(action (mut player))
            unregisterPlayer=(action (mut player null))
            timeupdate=(action timeupdate)
            segmentCreated=(action segmentCreated)
            segment=segment
            feedbackLoop=feedbackLoop
            startAt=at
          }}
        {{/unless}}
      </div>
    </div>
    <div class="container annotationEditor">
      {{outlet}}
      {{#liquid-if annotation}}
        {{#if annotation}}
          {{text-editor
            mobiledoc=annotation.deltas
            textChanged=(action (mut annotation.deltas))
            class="cf bg-white w-100 ph4 pb4 ba b--light-gray"
          }}
        {{/if}}
        <div class="tc mv3">
          <a class="btn link f--h ph4 pv2 dib white bgc--b mr2" onclick={{action cancel annotation}}>Cancel</a>
          <button class="btn link f--h ph4 pv2 dib white bgc--b ml2" {{action save}}>Save Annotation</button>
        </div>
      {{/liquid-if}}
    </div>

    <div class="container f0">
      <div class="dib w-100 w-25-l v-top pr4-l">
        <img class="ba b--light-gray db" src={{model.podcast.itunesImage}}>
      </div>
      <div class="dib w-100 w-75-l v-top f5">
        <h1 class="mt0 mb3 lh-solid-ns"><a class="link" href={{model.podcast.link}}>{{model.title}}</a></h1>
        <p class="f--h f6 ttu tracked">Aired on: {{moment-format model.pubDate "MMM D"}}</p>
        <p class="mb0">{{{model.summary}}}</p>
      </div>
    </div>

    <div class="container">
      <div class="mboard">
        {{#each sortedAnnotations as |annotation|}}
          <div class="mboard_card pa2-ns pb2">
            <div class="cf bg-white shadow-1">
              <div class="toolbar bb b--light-gray bg-near-white ph4 pv2">
                {{#link-to "podcasts.show.episode.annotation" annotation}}
                  <i class="fa fa-play " aria-hidden="true"></i>
                {{/link-to}}
                {{!-- <div class="fr">
                  <a class="link f6 mr3 fw3" href="#">Share
                  </a>
                  <a class="link f6 fw3" href="https://twitter.com/intent/tweet?text=Hello%20world">Tweet
                  </a>
                </div> --}}
              </div>
              {{#unless annotation.hasDirtyAttributes}}
                {{render-mobiledoc mobiledoc=annotation.deltas cardNames=cardNames class="ph4 pv3"}}
              {{/unless}}
              <div class="ph4 tr pb2">
                {{#deferred-content annotation.user tagName="" as |promise|}}
                  {{#promise.fulfilled tagName="" as |annotationOwner|}}
                    {{#link-to "listener" annotationOwner class="ma0 dib f6 black black-40 i"}}
                      By {{annotationOwner.username}}
                    {{/link-to}}
                  {{/promise.fulfilled}}
                  {{#deferred-content licSession.user tagName="" as |d|}}
                    {{#d.fulfilled tagName="" as |currentUser|}}
                      {{#if (eq currentUser.id annotation.user.id)}}
                        <a class="link dib mh2" href="#" {{action edit annotation}}><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="link dib" {{action delete annotation}}><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      {{/if}}
                    {{/d.fulfilled}}
                  {{/deferred-content}}
                {{/deferred-content}}
              </div>
            </div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
