<div class="flex flex-column" style="min-height: 100vh;">
  <div class="flex" style="flex:1;">
    <sidebar class="pr2 pl2 pt2">
      <div class="flex">
      <div class="">
          <a href="http://www.clker.com/cliparts/3/0/c/8/1365225091802081299Soundwave Audio.svg.thumb.png">
            <img src='http://www.clker.com/cliparts/3/0/c/8/1365225091802081299Soundwave Audio.svg.thumb.png' alt='Soundwave Audio clip art'/>
          </a>
        </div>
        <div class="flex-auto ml1">
          <h1 class="h2 m0">{{link-to "The Listening Crowd" "index"}}</h1>
          <p class="mt1 mb3">Podcasts distilled</p>
        </div>
      </div>
      {{#if session.isAuthenticated}}
        <h3>You are currently logged as: {{session.data.authenticated.profile.email}}</h3>
        <a {{ action "logout" }}>Logout</a>
      {{else}}
        <a {{ action "login" }}>Login</a>
      {{/if}}
      <div id="side-content">
      </div>
    </sidebar>
    <main class="pl4 pr4 pt2" role="main">
      {{liquid-outlet}}
    </main>
  </div>
</div>
