<nav class="dt w-100 border-box bb b--near-white pa3 pr4 pl4">
  <a class="dtc v-mid mid-gray link dim w-60" href="#" title="Home">
    <div class="dib cf">
      <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/1B1P0X2k1J3G460h0T1S/lc-logo.png" class="w3 dib mr2" alt="Site Name">
      <div class="dib">
        <h3 class="ma0">{{link-to "The Listening Crowd" "index"}}</h3>
        <p class="ma0">Podcasts distilled</p>
      </div>
    </div>
  </a>
  <div class="dtc v-mid w-40 tr">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns">About</a>
    {{#if session.isAuthenticated}}
      <p>You are currently logged as: {{session.data.authenticated.profile.email}}</p>
      <a class="link dim dark-gray f6 f5-ns dib" {{ action "logout" }}>Logout</a>
    {{else}}
      <a class="link dim dark-gray f6 f5-ns dib" {{ action "login" }}>Login</a>
    {{/if}}
  </div>
</nav>
<div class="flex flex-column" style="min-height: 100vh;">
  <div class="flex" style="flex:1;">
    <sidebar class="bg-light-gray dn db-l">
      <div class="pa3 pl4">
        <div id="side-content">
        </div>
      </div>
    </sidebar>
    <main class="flex-auto main" role="main">
      {{liquid-outlet}}
    </main>
  </div>
</div>
