{{#each model as |episode|}}
  <div class="flex p1">
    <div>
      <img src={{episode.podcast.itunesImage}} style="width: 300px;">
    </div>
    <div class="flex-auto">
      <ul class="">
        <li>
          {{link-to episode.title "podcasts.show.episode" episode.podcast episode}}
        </li>
        <li>
          Books: {{episode.groupedReferences.book.length}}
        </li>
        <li>
          People: {{episode.groupedReferences.person.length}}
        </li>
        <li>
          Links: {{episode.groupedReferences.link.length}}
        </li>
        {{!--
        <li>{{episode.podcast.copyright}}</li>
        <li>{{episode.podcast.itunesAuthor}}</li>
        <li>{{episode.podcast.itunesCategories}}</li>
        --}}
      </ul>
    </div>
  </div>
{{/each}}
