<div class="flex">
  <div class="flex-auto">
    <div class="container">
      <div class="fboard f0 flex flex-wrap">
        {{#each model as |episode|}}
          <div class="w-25-l w-50-m w-100 pa3-ns pb3 f5 v-top flex">
            <div class="bg-white flex flex-auto flex-column shadow-1">
              {{#link-to "podcasts.show.episode" episode.podcast episode}}
                <img class="img db bb b--light-gray" src={{episode.podcast.itunesImage}}>
              {{/link-to}}

              <div class="ph3 pt3 cf flex-auto">
                <h3 class="mt0 mb2 f4">{{link-to episode.title "podcasts.show.episode" episode.podcast episode class="link"}}</h3>
                {{#if episode.itunesSubtitle}}
                  <p class="ma0">{{truncate-multiline text=episode.itunesSubtitle}}</p>
                {{/if}}
              </div>

              <div class="ph3 pv2 mt3 cf bt b--light-gray black-40 normal f6 f--h ttu tracked">
                {{moment-format episode.pubDate "MMM D"}}
                <div class="fr">
                  {{#link-to "podcasts.show.episode" episode.podcast episode class="link black-40"}}
                    <i class="fa fa-comment" aria-hidden="true"></i> {{episode.annotationsCount}} annotations
                  {{/link-to}}
                </div>
              </div>

            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
