<div class="flex">
  <div class="flex-auto">
    <div class="container">
      <div class="fboard f0 flex flex-wrap">
        {{#each model as |episode|}}
          <div class="w-25-l w-50-m w-100 pa3-ns pb3 f5 v-top flex">
            <div class="bg-near-white ba b--near-white flex flex-auto flex-column">
              <div class="relative">
                <img class="img flex-auto" src={{episode.podcast.itunesImage}}>
                <div class="card_ovl absolute top-0 bottom-0 left-0 right-0 pa3 white cf flex flex-column items-center justify-center bgc--t">
                  <div class="w-100 flex-auto flex">
                    <div class="w-100 tc self-center">
                      <p class="w-100 ma0 f-6 f--h lh-solid">{{episode.annotationsCount}}</p>
                      <p class="f3 ma0 f--h lh-copy">annotations</p>
                    </div>
                  </div>
                  <div class="self-end w-100 cf">
                    <p class="ma0 fl">Aired on: {{moment-format episode.pubDate "MMM D"}}</p>
                    <p class="ma0 fr">{{episode.prettyDuration}}</p>
                  </div>
                </div>
              </div>
              <div class="pa3 cf">
                <h3 class="mt0 mb2 f4">{{link-to episode.title "podcasts.show.episode" episode.podcast episode class="link"}}</h3>
                {{#if episode.itunesSubtitle}}
                  <p class="ma0" >{{truncate-multiline text=episode.itunesSubtitle MoreButtonText="Show More"}}</p>
                {{/if}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
